/* Required CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Automate class  */
 
  .container{
 margin-left: 5%;
 margin-right: 5%;
  }
  .li-inline-block ul li{
      display: inline-block;
      list-style-type: none;
      margin-left: 20px;
  }
  .li-inline-block ul a{
    text-decoration: none;
    color: #2C2A2B;
}
.d-flex{
    display: flex;
}
  .flex-1{
      flex: 1;
  }
  .text-center{
      text-align: center;
  }
  .text-end{
      text-align: end;
  }
  .mt-15{
      margin-top: 11px;
  }
  .mt-50{
      margin-top: 50px;
  }
  ._2c2a2b{
      color:#2a2c2b
  }
  .mt-100{
      margin-top: 100px;
  }
  .sub-title{
    font-size: 25px;
  }
  .dec{
  font-size: 13px;
  }
  .title{
      font-size: 60px;
  }


  /* header section -1 */

  .header-sec-1 .items-1 h4{
      font-size: 30px;
  }
  .header-sec-1{
      display: flex;
      padding-top: 20px;
      position: relative;
  }
  .header-sec-1 .items-3 i{
     margin-left: 10px;
  }
  .header-sec-1 .items-3 img{
    margin-left: 10px;
 }
/* header section 2 */
 .header-sec-2 .items-2 img{
      height: 500px;
 }
 .header-sec-2 .items-1 img{
     height: 400px;
     top: 120px;
     position: absolute;
 }
 .header-sec-2 .items-1 span{
     margin-top: 500px;
     position: absolute;
     top: 1px;
     left: 200px;
  
 }

